.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.greeting{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
}