.section{
    width: 100%;
    display: flex;
}

.wrapper{
    background-color: #F5F1EB;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-weight: 300;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.span{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.input{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #413c3c;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

.input:focus,
.input[focus]{
    outline: none;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #EFCFCF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 5px;
    color: #413c3c;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 10px;
    cursor: pointer;
}

.submit:disabled,
.submit[disabled]{
    background-color: #d3b8b8;
    color: #605959;
}

.verify{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #EFCFCF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 5px;
    color: #413c3c;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.verify:disabled,
.verify[disabled]{
    background-color: #d3b8b8;
    color: #605959;
}

.error{
    margin-bottom: 40px;
    color: #F46A6A;
    font-weight: 700;
    text-align: center;
}

.group{
    width: 100%;
    background-color: #DBCFC8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 6px 6px;
}

.question{
    text-align: center;
}