.header{
    background-color: #E5D8D0;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    all: unset;
    color: #4D2429;
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
}

.anchor{
    text-decoration: none;
    text-underline: none;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    all: unset;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    background-color: #f8f7f5;
    border-radius: 4px;
    padding: 7px;
    margin-left: 20px;
}

.nav:active {
    background-color: #eae8e3;
}